In [77]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv('movies_2.csv') # Gathering data
movies_df.head(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...

In [ ]:
# movies_df.drop("Summary", axis='columns', inplace=True)
# movies_df

KeyError: "['Summary'] not found in axis"

In [ ]:
movies_df.rename(columns={"MovieID": "movie_id", "Title": "title", "MPAA Rating": "mpaa_rating", "Budget": "budget", 
                          "Gross": "gross", "Release Date": "release_date", "Genre": "genre", "Runtime": "runtime", 
                          "Rating": "rating", "Rating Count": "rating_count"}, inplace=True)
movies_df

# Ola's idea: movies.rename(columns=str.lower) and movies.columns.str.replace(" ","_")

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
movies_df_615 = movies_df.drop(index=615, inplace=True) #Error in execution of code after removal!
movies_df.reset_index(drop=True, inplace=True)
movies_df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [28]:
movies_df.fillna({ 'rating': movies_df['rating'].median() }, inplace=True)
movies_df

# Use median to replace NaN when data set is negatively skewed

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN

In [29]:
movies_df.fillna({ 'rating_count': movies_df['rating_count'].median() }, inplace=True)
movies_df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

In [30]:
movies_df[movies_df["title"] == 'Jurassic Park III']

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
98,99,Jurassic Park III,PG-13,93000000.0,368800000.0,2001-07-16,Thriller,92.0,8.9,1690474.0
249,250,Jurassic Park III,PG-13,93000000.0,368780809.0,2001-07-18,Adventure,92.0,5.9,280110.0

In [90]:
movies_df.drop(index=615, inplace=True)

In [91]:
movies_df.columns
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.0+ KB

In [ ]:
# movies_df = movies_df.astype({'budget': 'int64', 'gross': 'int64'}, copy=False)
# movies_df.astype({'gross': 'int64'}, copy=False)

# movies_df

movies_df["budget"]
movies_df["budget"]= movies_df["budget"].astype("int32")
movies_df["gross"] = movies_df["gross"].astype("int32")


# Change column B and C's values to integers
# df = df.astype({'B': int, 'C': int})
# Exercise failed. Change does not stick

In [93]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    int32
 4   gross         615 non-null    int32
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        508 non-null    float64
 9   rating_count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(3), int32(2), int64(1), object(5)
memory usage: 48.2+ KB

In [94]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])
# print(movies_df.to_string())
movies_df

# Other example found: Convert the date to datetime64
# df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,Summary
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,-2147483648,2019-04-22,Action,181.0,NaN,NaN,NaN

In [33]:
# Any data value that lies more than 1.5 * IQR away from the Q1 and Q3 quartiles is 
# considered an outlier

# Formula for outlier?

In [97]:
# show the movies with more than 7 in Rating & greater than 50 million Gross

movies_df[(movies_df["rating"] > 7) & (movies_df["gross"] > 50000000.0)]

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,Summary
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [ ]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with 
# Parental guidance as MPAA Rating

movies_df[(movies_df["rating"] > 7) & (movies_df["gross"] > 50000000.0) & (movies_df["mpaa_rating"] == 'PG')]

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000.0,2.358601e+08,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000.0,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0
15,16,The Little Mermaid,PG,40000000.0,2.223000e+08,1989-11-17,Animation,83.0,7.6,219221.0
16,17,Back to the Future Part II,PG,40000000.0,3.320000e+08,1989-11-20,Science Fiction,108.0,7.8,438940.0
19,20,Steel Magnolias,PG,15000000.0,9.590409e+07,1989-11-15,Drama,119.0,7.3,43037.0
24,25,Home Alone,PG,18000000.0,4.766847e+08,1990-11-09,Family,103.0,7.6,414472.0
32,33,The Hunt for Red October,PG,30000000.0,1.992000e+08,1990-03-02,Thriller,134.0,7.6,167212.0
34,35,Back to the Future Part III,PG,40000000.0,2.445276e+08,1990-05-25,Family,118.0,7.4,369652.0
45,46,Teenage Mutant Ninja Turtles II,PG,25000000.0,7.860000e+07,1991-03-22,Action,88.0,8.0,397467.0
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
49,50,Star Trek VI: The Undiscovered Country,PG,27000000.0,9.690000e+07,1991-12-05,Science Fiction,113.0,7.2,66086.0
72,73,A League of Their Own,PG,40000000.0,1.074588e+08,1992-07-01,Comedy,128.0,7.2,85932.0
80,81,Groundhog Day,PG,14600000.0,7.090697e+07,1993-02-11,Comedy,101.0,8.0,549538.0
106,107,Star Trek: Generations,PG,38000000.0,1.200000e+08,1994-11-17,Science Fiction,118.0,8.5,869127.0
126,127,Mr. Holland's Opus,PG,31000000.0,1.062700e+08,1995-12-29,Family,137.0,7.3,33906.0
130,131,Apollo 13,PG,52000000.0,3.552379e+08,1995-06-30,Drama,140.0,7.6,250975.0
174,175,Contact,PG,90000000.0,1.711203e+08,1997-07-11,Science Fiction,150.0,7.4,239569.0
185,186,The Truman Show,PG,60000000.0,2.641182e+08,1998-06-04,Comedy,103.0,8.1,859224.0
188,189,The Prince of Egypt,PG,70000000.0,2.186132e+08,1998-12-15,Animation,99.0,7.1,110340.0
215,216,Tarzan,PG,150000000.0,4.480000e+08,1999-06-18,Animation,88.0,7.3,187724.0
220,221,Remember the Titans,PG,30000000.0,1.367067e+08,2000-09-29,Drama,113.0,7.8,186997.0
241,242,Shrek,PG,60000000.0,4.844092e+08,2001-05-16,Animation,90.0,7.8,574978.0
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000.0,9.751000e+08,2001-11-04,Fantasy,152.0,7.6,583224.0
261,262,Ice Age,PG,59000000.0,3.832571e+08,2002-03-10,Animation,81.0,7.5,411963.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000.0,8.766885e+08,2002-11-13,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000.0,6.314421e+08,2004-11-05,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000.0,7.898046e+08,2004-05-31,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000.0,9.198388e+08,2004-05-19,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000.0,6.317446e+08,2008-06-04,Animation,90.0,7.5,390478.0
410,411,Monsters vs Aliens,PG,175000000.0,3.815099e+08,2009-03-19,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000.0,7.350991e+08,2009-05-13,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,9.339592e+08,2009-07-07,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000.0,5.435140e+08,2010-07-08,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000.0,3.218872e+08,2010-10-28,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000.0,4.948788e+08,2010-03-05,Animation,98.0,8.1,624128.0
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000.0,5.550000e+08,2011-12-08,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000.0,6.656923e+08,2011-05-25,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000.0,3.583756e+08,2012-09-20,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000.0,4.712229e+08,2012-11-01,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000.0,5.389832e+08,2012-06-21,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000.0,9.707619e+08,2013-06-25,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000.0,5.851789e+08,2013-03-20,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000.0,1.274219e+09,2013-11-27,Animation,102.0,7.5,527284.0
498,499,The Lego Movie,PG,60000000.0,4.691607e+08,2014-02-06,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000.0,6.091230e+08,2014-06-12,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000.0,6.521054e+08,2014-10-24,Animation,102.0,7.8,380953.0

In [100]:
# show the count of Animation movies with more than 7 in Rating (use the shape() method)

movies_df[(movies_df["genre"] == 'Animation') & (movies_df["rating"] > 7)].shape

# answer: 224 rows, 10 columns

(39, 11)

In [37]:
# show the top 5 movies based on Budget

# movies_df.head(5)
top5budget = movies_df.nlargest(5, 'budget')
print(top5budget)

     movie_id                                        title mpaa_rating  \
594       595                       Avengers: Infinity War       PG-13
454       455  Pirates of the Caribbean: On Stranger Tides       PG-13
614       615                            Avengers: Endgame       PG-13
574       575                     Star Wars: The Last Jedi       PG-13
375       376     Pirates of the Caribbean: At World's End       PG-13

          budget         gross release_date            genre  runtime  rating  \
594  400000000.0  2.048000e+09   2018-04-23           Action    149.0     6.9
454  380000000.0  1.045714e+09   2011-05-14           Action    136.0     6.6
614  356000000.0  2.796000e+09   2019-04-22           Action    181.0     6.9
574  317000000.0  1.333000e+09   2019-12-09  Science Fiction    152.0     6.9
375  300000000.0  9.610000e+08   2007-05-19        Adventure    169.0     7.1

     rating_count
594      240347.5
454      455211.0
614      240347.5
574      240347.5
375      565402.0

In [38]:
# show the top 5 Comedy movies by Rating

top5comedies_rating = movies_df[(movies_df["genre"] == 'Comedy')].nlargest(5, 'rating')
print(top5comedies_rating)

     movie_id                 title mpaa_rating       budget        gross  \
111       112          Forrest Gump       PG-13   55000000.0  677945399.0
185       186       The Truman Show          PG   60000000.0  264118201.0
80         81         Groundhog Day          PG   14600000.0   70906973.0
254       255        Monsters, Inc.           G  115000000.0  562816256.0
40         41  Fried Green Tomatoes       PG-13   11000000.0  119418501.0

    release_date   genre  runtime  rating  rating_count
111   1994-07-06  Comedy    142.0     8.8     1657851.0
185   1998-06-04  Comedy    103.0     8.1      859224.0
80    1993-02-11  Comedy    101.0     8.0      549538.0
254   2001-11-01  Comedy     92.0     8.0      758349.0
40    1991-12-27  Comedy    130.0     7.7       62493.0

In [103]:
# top 5 movie names by Rating

# test : movies_df.nlargest(5, 'rating')
movies_df.nlargest(5, 'rating').loc[:,["title", "rating"]]

                                             title  rating
393                                The Dark Knight     9.0
83                                Schindler's List     8.9
98                               Jurassic Park III     8.9
99                                    Pulp Fiction     8.9
287  The Lord of the Rings: The Return of the King     8.9

In [105]:
# top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

top3romance_gross = movies_df[(movies_df["genre"] == 'Romance')].nlargest(3, 'gross')
top3romance_gross

top3romance_gross_aft1999 = movies_df[(movies_df["genre"] == 'Romance') & (movies_df["release_date"] > '1999-12-31')].nlargest(3, 'gross')
top3romance_gross_aft1999


# & (movies_df["release_date"] > 1999)

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,Summary
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0,"After the birth of Renesmee/Nessie, the Cullen..."
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0,The Quileutes close in on expecting parents Ed...
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0,Edward leaves Bella after an attack that nearl...

In [109]:
# how many Genres are present in the dataframe? (use value_counts() method 
# which applies to Series, not Dataframe)

movies_df["genre"].value_counts().iloc[[0,-1]]
# movies_df["genre"].unique().shape[0]

genre
Action     110
History      4
Name: count, dtype: int64

In [42]:
# top 5 most expensive movies released after 1999 (measured by Budget)

top5budget_aft1999 = movies_df[(movies_df["release_date"] > '1999-12-31')].nlargest(5, 'budget')
top5budget_aft1999

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [ ]:
# most & least frequent MPAA Rating in the dataset in terms of occurrences

# movies_df['mpaa_rating'].min -> does not bring desired output

movies_df["mpaa_rating"].value_counts().iloc[[0,-1]]

mpaa_rating
PG-13    285
G         27
Name: count, dtype: int64

In [112]:
# most & least expensive Genre (take an average of all Budget measures grouped by Genre
# - use the groupBy() method)

# DataFrame.groupby(by=None, axis=<no_default>, level=None, as_index=True, sort=True, group_keys=True, observed=<no_default>, dropna=True)
# movies_df['budget'] = movies_df.groupby(level="Genre").mean
# movies_df['average_budget'] = movies_df.groupby(level="genre")['budget'].transform('mean')
# movies_df['average_budget'] = movies_df.groupby("genre")['budget'].mean()
# movies_df['average_budget']

# movies_limited = movies_df.loc[:,["genre", "budget"]].groupby.mean()
# movies_limited.groupby.mean()
movies_df.groupby("genre")['budget'].mean().iloc[[0,-1]]

# Answer: least = Horror, Most = Fantasy

genre
Action     1.441682e+08
Western    7.983333e+07
Name: budget, dtype: float64

In [ ]:
# which Genre is favoured the most? 

# mine: movies_df.groupby("genre")['rating'].mean()

# Julien's code: 

movies_df.groupby("genre")["rating"].mean().sort_values(ascending=False).iloc[[0]]
# Answer: History

genre
History    7.625
Name: rating, dtype: float64